<!DOCTYPE html>
<html>

<head>
  <title></title>
  <% include ./partials/head %>

</head>

<body>
  <% include ./partials/nav %>
  <!--Banner  Section-->

  <section class="jumbotron text-center" id="hero_image">
    <div class="container" id="container">

      <h1 class="jumbotron-heading">
        Wake and Bake
        
      </h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
        Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>

  <!--blog post Section-->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://thekittchen.com/wp-content/uploads/2017/03/How-to-Make-Cake-Pops-13-600x900.jpg" alt="">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" id="fudge_image">
              <title>Placeholder</title>
              <rect fill="#55595c" width="100%" height="100%" /><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora necessitatibus
                dolores sapiente eaque quas voluptatum suscipit laudantium itaque voluptates nam, accusantium odit
                dolorum ut nostrum sit totam ipsa ad consequatur.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://i.pinimg.com/originals/ea/4d/e5/ea4de59e62bacb9a330669c4b613665b.jpg" alt="">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect fill="#55595c" width="100%" height="100%" /><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam
                provident! Fuga, doloribus! Ipsam, quibusdam dolorem recusandae doloremque laborum accusamus
                reprehenderit velit repellendus, itaque eius ducimus, voluptates temporibus dolorum assumenda!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" id="update">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://i.pinimg.com/originals/e5/96/98/e596989e32dd82c10584e7706e096948.jpg" alt="">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect fill="#55595c" width="100%" height="100%" /><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, possimus! Ex,
                expedita deserunt amet aut porro aliquam iure repellat, fugiat corrupti quas aperiam in commodi
                asperiores nisi labore dolor voluptas..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
</body>

</html>