body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
}
.navbar-light .navbar-nav .nav-link{
  color:blue;
}

#hero_image{
  height:500px;
  background-image: url(https://smittenkitchendotcom.files.wordpress.com/2016/05/confetti-cookies1.jpg?w=750);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}

.card {
  height:600px;
}

.card-body{
  margin-top:30px;
}

img{
width:350px;
height:400px;
}